<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vuejs Beginners</title>
</head>
<body>

  <div id="app">
    <label>Increment by: </label>
    <input v-model="incrementBy" type="text">
    <h1>{{ count }}</h1>

    <button @click="reduceCounter">-</button>
    <button v-on:click="addCounter">+</button>

    <p v-if="isEvenNumber">The current count is even</p>
    <p v-else>The current count is odd</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        count: 0,
        incrementBy: 1
      },
      methods: {
        reduceCounter: function () {
          this.count -= this.getIncrementValue
        },
        addCounter: function() {
          this.count += this.getIncrementValue
        }
    },
    computed: {
      isEvenNumber() {
        return this.count % 2 === 0
      },
      getIncrementValue() {
        return Number(this.incrementBy)
      }
    }
    })
  </script>
</body>
</html>